* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    background-color: #eff3ff;
  }
  
  .modal-centered {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .pokemon-card {
    position: relative;
    width: 100%;
    padding: 30px 20px;
    background-color: white;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    color: #333;
    overflow: hidden; 
  }
  
  .pokemon-card::before {
    content: '';
    position: absolute;
    top: -200px; 
    left: 50%;
    width: 120%; /* Make it wider */
    height: 400px; /* Increase height for more prominent circle */
    background-color: var(--theme-color); /* Will be set dynamically */
    border-radius: 50%;
    transform: translateX(-50%);
  }
  
  .id {
    width: 80px;
    background-color: #ffffff;
    text-align: center;
    padding: 8px 0;
    border-radius: 30px;
    margin-left: auto; 
    font-weight: 550;
    color: #000; /* Black text color */
    position: absolute; /* Position absolute to place on top of circle */
    top: 20px; 
    right: 20px; /* Position to the right of the card */
    z-index: 1; /* Ensure it's above the circle */
  }
  
  .pokemon-image {
    display: block;
    width: 180px;
    max-height: 200px;
    margin: 20px auto;
    position: relative;
    top: -20px; /* Adjust position relative to circle */
    z-index: 1; /* Ensure it's above the circle */
  }
  
  .poke-name {
    text-align: center;
    font-weight: 600;
  }
  
  .types {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .type-bubble {
    padding: 5px 20px;
    border-radius: 20px;
    color: #ffffff;
    margin: 0 5px;
  }
  
  .details {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
  
  .details-box,
  .abilities-box {
    width: 45%;
  }

  .details-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  .details-box .detail-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-size: 1rem;
    text-align: center;
    flex: 1;
  }
  
  .details-box .detail-item p {
    font-size: 1.5rem;
    margin: 0;
    font-weight: bold;
  }
  
  .details-box .detail-item span {
    font-size: 0.9rem;
    color: #666;
  }

  .abilities-box {
    text-align: left;
  }
  
  .abilities-box h3 {
    margin-bottom: 10px;
    font-weight: 545;
  }
  
  .details-box h3,
  .details-box p,
  .abilities-box p {
    margin: 5px 0;
  }
  
  .ability-item {
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    font-weight: 550;
  }
  